pipeline/PL_sql_to_blob_Incrementally.json
{
	"name": "PL_sql_to_blob_Incrementally",
	"properties": {
		"activities": [
			{
				"name": "Lookup_to get max value",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(cid) as maxvalue from cust",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sql_genric",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_to get LPV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from watermark  where tablename='cust'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_sql_genric",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data from sql to blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_to get max value",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_to get LPV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from cust where cid>@{activity('Lookup_to get LPV').output.firstrow.last_processed_value}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_sql_genric",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_blob_incremental_output",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data from sql to blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[watermark_usp]",
					"storedProcedureParameters": {
						"lpv": {
							"value": {
								"value": "@activity('Lookup_to get max value').output.firstrow.maxvalue",
								"type": "Expression"
							},
							"type": "String"
						},
						"tname": {
							"value": {
								"value": "@activity('Lookup_to get LPV').output.firstrow.tablename",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_newsql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}